* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clock-wrap {
  /*text-align: center;*/
  height: 100vh;
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  flex-direction: column;
}

.clock-wrap.is-night {
  background-color: #333;
  color: #fff;
}

.time {
  font-size: 15rem;
  height: 17.6875rem;
  letter-spacing: 1px;
  position: relative;
}

.time > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  /*transform: translateX(-30%);*/
  /*transform: translateX(-50%);*/
}

.time-hour,
.time-min,
.time-sec {
  width: 18rem;
  display: inline-block;
}

.day,
.dust {
  font-size: 3rem;
  word-break: keep-all;
  line-break: strict;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.toolbar {
  position: fixed;
  top: 0;
  height: 44px;
  display: flex;
  justify-content: flex-end;
}


.toolbar > button {
  appearance: none;
  border: none;
  background-color: transparent;
}

.grid-wrap {
  /*display: grid;*/
  /*grid-template-columns: repeat(3, 1fr);*/
  /*gap: 10px;*/
  /*grid-auto-rows: minmax(100px, auto);*/
}

.timer-cell {
  /*grid-column: 1 / 4;*/
  /*grid-row: 2;*/
}

.day-cell {
  /*grid-column: 1 / 3;*/
  /*grid-row: 1;*/
  position: relative;
}
.day-cell > div {
  position: absolute;
  left: 40px;
  top: -40px;
}

.dust-cell {
  /*grid-column: 3/3;*/
  /*grid-row: 3;*/
  position: relative;
}
.dust-cell > div {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(-10%);
}

.day {
  /*margin-left: 9.75rem;*/
}
